body, html{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background: #f0df74;
}

.title{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.title h2{
    margin: 0%;
    padding: 0%;
    height: 10%;
    width: 100%;
    text-align: center;
}

.title img{
    margin: 0%;
    padding: 0%;
    height: 90%;
    width: 100%;
}

.mapa{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}
.mapa #map{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 80%;
}
#map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

.links #img{
    float:left;
    margin: 0%;
    padding: 0%;
    width: 20%;
    height: 20%;
}

.links #img button{
    width: 100%;
    height: 100%;
}

.links div img{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}


.opis{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.opis .tekst{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 78%;
}

  .text #stopka{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 10%;
}

  hr{
      border-top: 2px solid black;
  }
